/* Reset default styles */
html,
body {
  background: mistyrose;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
ul {
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Section heading styles */
h1 {
  margin-bottom: 10px;
  text-align: center;
}
h2 {
  background-color: rosybrown;
  border-radius: 5px;
  padding: 5px;
}

/* Song list styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  display: flex;
  align-items: center;
}

/* Add song form styles */
.add-song-form {
  margin: 20px 0px;
}

.add-song-form input[type="text"],
.add-song-form input[type="submit"] {
  padding: 5px;
  font-size: 16px;
}

.add-song-form input[type="text"] {
  width: 200px;
  margin-right: 10px;
}

/* Most played songs styles */
.most-played-songs {
  margin-top: 20px;
}

.most-played-songs li {
  display: inline-block;
  margin-right: 10px;
}

.music {
  padding: 10px 20px 0px 20px;
}

.song {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(8, 2, 2, 0.2);
}

.info {
  display: flex;
  align-items: center;
}

.img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background: url(http://static.stereogum.com/blogs.dir/2/files/2011/12/Adele-21.jpg) center center;
  background-size: cover;
}

.titles {
  h5,
  p {
    margin: 0;
    color: white;
  }

  h5 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 7px;
  }

  p {
    font-size: 13px;
    color: #929292;
  }
}
